{% extends 'partials/base.html.twig' %}

{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'_'}) }}{% endmacro %}

{% block content %}
  {% for module in page.collection %}
    <section id="{{ _self.pageLinkName(module.menu) }}">
      {{ module.content }}
    </section>
  {% endfor %}
{% endblock %}
